.stats-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #d8d8d8;
}
.stats-table th,
.stats-table td
{
  padding: 4px 5px;
  font-size: 15px;
  border: 1px solid #d8d8d8;
}
.stats-table thead th {
  text-align: left;
  background: #f3f3f3;
}
.stats-table thead th {
  text-align: left;
  background: #f3f3f3;
}

.big-stats {
  overflow: hidden;
  margin: 1em 0;
}

.big-stats-two .big-stat,
.big-stats-three .big-stat
.big-stats-four .big-stat{
  float: left;
}

.big-stats-two .big-stat {
  width: 50%;
}
.big-stats-three .big-stat {
  width: 33.333%;
}
.big-stats-four .big-stat {
  width: 25%;
}

.big-stat {
  text-align: center;
}
.big-stat .number {
  font-size: 30px;
  line-height: 1.2em;
}
.big-stat .text {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}
.promotions-heading {
  margin-left: 0;
}
h2.promotions-heading {
  font-size: 22px;
  margin: .5em 0;
  color: #999;
  padding: 0;
  font-style: italic;
}
.chart-container {
  height: 250px;
  position: relative;
}
.chart-container .no-data {
  position: absolute;
  top: 50%; left: 0;
  font-size: 14px;
  margin-top: -.6em;
  text-align: center;
  width: 100%;
  color: #999;
}
.chart-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}
.chart-tooltip h3 {
  text-align: center;
  margin: 0;
}
.chart-tooltip th {
  text-align: left;
  padding-right: 10px;
}